.cut-menu {
  width: 200px;
  height: 200px;
  background: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 #000;
  padding: 1rem;
  &__input {
    width: 100%;
  }
}