@use '../../style/mixins' as *;

.pallet {
    width: calc(100% - 5rem);
    margin: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        position: relative;
        background: white;
        width: 90%;
        aspect-ratio: 1;
        margin: 1.25rem;
        border-radius: 4px;
        box-shadow: 0 0 6px 0 #000;
        @include tablet {
            width: 40%;
        }
        @include desktop {
            width: 15%;
        }
    }
}